
<mat-grid-list cols="3" style="margin-top: 30px;" row-height="500px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <p> &nbsp; </p>
            </mat-card-header>
            <mat-card-content>
              <h1>
                {{gcpData}}
              </h1>
            </mat-card-content>
            <mat-card-actions>
                <p> &nbsp; </p>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>