<mat-grid-list cols="3" style="margin-top: 30px;" row-height="500px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <p> &nbsp; </p>
            </mat-card-header>
            <button class="btn" (click)="GetAzure()"> 
              <img mat-card-image src="assets/Azure.jpg" alt="Ping Azure">
            </button>

            <mat-card-content>
              <h1>
                Ping Azure
              </h1>
            </mat-card-content>
            <mat-card-actions>
                <p> &nbsp; </p>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <p> &nbsp; </p>
            </mat-card-header>
            <button class="btn" (click)="GetGCP()"> 
              <img mat-card-image src="assets/gcp.png" alt="Ping Azure">
            </button>
            <mat-card-content >
              <h1>
                Ping GCP
              </h1>
            </mat-card-content>
            <mat-card-actions>
                <p> &nbsp; </p>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <p> &nbsp; </p>
            </mat-card-header>
            <button class="btn" (click)="GetStock()"> 
              <img mat-card-image src="assets/stock.png" alt="Ping Stock API" style="height: 200px;width: 250px;">
            </button>
            <mat-card-content>
              <h1>
                Ping Stock
              </h1>
            </mat-card-content>
            <mat-card-actions>
                <p> &nbsp; </p>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  

